@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


:root {
    --bg-color: #F7F6F2;
    --primry-color: #4B6587;
    --second-color: #C8C6C6;
    --second-text-color: #FFACB7;
}


body {
    overflow-x: hidden;
    font-family: Poppins;
    background-image: linear-gradient(#16161660, #1f222559), url(assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/* navbar */

.navbar .navbar-brand {
    color: var(--bg-color);
    font-weight: 600;
}

.navbar .navbar-brand::after {
    content: '';
    display: block;
    border-bottom: 1px solid var(--bg-color);
    margin-top: -5px;
}

.navbar .navbar-brand:hover {
    color: var(--second-color);
}

.navbar .navbar-nav .nav-link {
    color: var(--bg-color);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--second-color);
}

.navbar-toggler {
    border: 0px;
}

body .navbar {
    position: absolute;
    width: 100%;
    z-index: 3;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0px;
}

.toggler-icon {
    width: 28px;
    height: 3px;
    background-color: white;
    display: block;
    transition: all 300ms;
}

.middle-bar {
    margin: 3px auto;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg) translate(1px, 8px);
}


.navbar-toggler .middle-bar {
    transform: scale(0);
}


.navbar-toggler .bottom-bar {
    transform: rotate(-45deg) translate(1px, -8px);

}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    transform: scale(1);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
    background-color: white;
    border-radius: 3px;
}

/* end navbar */

.btn-prim {
    border: 0px;
    border-radius: 40px;
    color: white;
    background-color: var(--primry-color);
    padding: 8px 15px;
}


.btn-view {
    border: 0px;
    border-radius: 40px;
    color: white;
    background-color: var(--second-color);
    padding: 8px 15px;
}

img {
    width: 100%;
}

.hero-title {
    color: var(--bg-color);
}

.hero {
    background-image: linear-gradient(#16161660, #1f222559);
    min-height: 100vh;
    padding-top: 10rem;
    background-size: cover;
    padding-bottom: 20px;
    background-position: center;
    animation: animate 16s ease-in-out infinite;
}

.wrap-hero {
    width: 50%;
}

.hero-social {
    margin-top: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
    align-items: center;

}

.hero-social i {
    color: var(--bg-color);
    margin-left: 14px;
}

.hero-social .contact-us {
    color: white;
}

.hero-social h5 {
    color: var(--bg-color);
}

.hero-social a {
    text-decoration: none;
    color: white;
}

@keyframes animate {

    0%,
    100% {
        background-image: url(assets/bg/bg1.png);
    }

    25% {
        background-image: url(assets/bg/bg2.png);
    }

    50% {
        background-image: url(assets/bg/bg3.png);
    }

    75% {
        background-image: url(assets/bg/bg4.png);
    }
}

.desc-hero {
    color: var(--bg-color);
}

.title-product {
    text-align: center;
    color: var(--primry-color);
}

.excellence {
    background-color: var(--primry-color);
    padding: 68px 0px;
    text-align: center;

}

.wrap-item {
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

    text-align: center;
}

.excellence-item {
    background-color: var(--bg-color);
    box-shadow: 1px 0px 10px -7px;
    padding: 14px;
    border-radius: 4px;
}

.excellence h3 {
    color: var(--bg-color);
}

.excellence-item i {
    font-size: 36px;
}

.desc-excellence {
    font-weight: 300;
    color: var(--bg-color);
}

.excellence-item h5 {
    color: var(--primry-color);
}

.excellence-item p {
    color: #838383;
    font-weight: 300;
}


/*  */

.about {
    background-color: var(--primry-color);
    padding: 68px 0px;
    text-align: center;

}

.wrap-about {
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

    text-align: center;
}

.about-item {
    background-color: var(--bg-color);
    box-shadow: 1px 0px 10px -7px;
    padding: 14px;
    border-radius: 4px;
}

.about h3 {
    color: var(--bg-color);
}

.about-item i {
    font-size: 36px;
}

.desc-about {
    font-weight: 300;
    color: var(--bg-color);
}

.about-item h5 {
    color: var(--primry-color);
}

.about-item p {
    color: #838383;
    font-weight: 300;
}

/*  */


.title-section {
    color: white;
    text-align: center;
}

.product img {
    transition: 500ms;
    overflow: hidden;
}

.product img:hover {
    transform: scale(1.1);
}

.bg-overlay {
    height: 40vh;
}


.product {
    padding: 100px 0px;
    background-color: var(--bg-color);
}

.card-box img {
    min-width: 250px;
}




.card-box:nth-child(odd) {
    display: grid;
    grid-template-areas: 'img info info';
    gap: 24px;
    align-items: center;
    margin-top: 44px;
}

.card-box:nth-child(even) {
    display: grid;
    grid-template-areas: 'info info img';
    gap: 24px;
    align-items: center;
    margin-top: 44px;
}

label {
    color: var(--primry-color);
}

.card-title {
    color: var(--primry-color);
}


iframe {
    width: 100%;
    height: 100%;
}

form {
    color: inherit;
}



.container .col .card {
    height: 500px;
    padding: 0px;
}

.img-box {
    grid-area: img;
}

.box-info {
    grid-area: info;
}

.contact-detail {
    font-weight: 300;
}

.box-desc {
    color: #838383;
    margin-top: 24px;
    margin-bottom: 42px;
    font-weight: 300;
}

.title-box {
    color: var(--primry-color);
}

.card-box {
    overflow: hidden;
}

footer {
    padding: 15px 0px;
    background-color: var(--bg-color);
}

.footer {
    text-align: center;
    padding-top: 34px;
    padding-bottom: 14px;
}

footer .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

i {
    font-size: 22px;
    color: var(--primry-color);
}

.social {
    display: flex;
    align-items: center;
}

.footer-contact {
    color: var(--primry-color);
}


.wrap-social-media {
    width: 10%;
    display: flex;
    flex-direction: column;
    color: var(--primry-color);
}

.wrap-social-media i {
    margin-right: 4px;
}

.span-title {
    color: var(--primry-color);
}

footer a {
    text-decoration: none;
    color: var(--primry-color);
    text-align: center;
}

.social {
    font-weight: 300;
}

.floating-btn {
    width: 50px;
    height: 50px;
    position: fixed;
    display: block;
    background-color: #1EBC69;
    right: 30px;
    z-index: 99;
    bottom: 35px;
    border-radius: 50px;
    text-align: center;
    color: white;
    font-size: 28px;
    line-height: 50px;
}

.floating-btn:hover {
    background-color: var(--primry-color);
}

.floating-btn i {
    color: var(--bg-color);
    font-size: 24px;
}


.btn-prim a {
    text-decoration: none;
    color: var(--bg-color);
}


@media (max-width: 576px) {
    .hero .row {
        flex-direction: column;
    }

    .img-hero {
        margin-top: 24px;
    }

    .wrap-hero {
        width: 100%;
    }

    .hero {
        padding-top: 5rem;
    }


    .box-desc {
        padding-bottom: 14px;
    }

    .product {
        padding: 24px;
    }

    .hero {
        padding-bottom: 14px;
    }

    .wrap-social-media {
        width: 100%;
    }

    .wrap-contact {
        width: 100%;
    }

}

@media (min-width: 992px) {

    .box-info {
        align-items: flex-start;
    }

    .nav-link:hover::after {
        content: '';
        border-bottom: 2px solid var(--second-color);
        display: block;
        width: 50%;
        margin: auto;
    }

    .nav-link {
        margin-right: 24px;
    }
}

@media (max-width:992px) {
    .box-desc {
        margin-bottom: 0px;
    }
}

@media (max-width: 768px) {
    .card-box:nth-child(odd) {
        display: grid;
        grid-template-areas: 'img img'' info info';
        gap: 24px;
        align-items: center;
        margin-top: 44px;
        border: 4pxs;
        box-shadow: 1px 0px 10 0 black;
        box-shadow: 1px 0px 10px -6px #888888;
    }

    .card-box:nth-child(even) {
        display: grid;
        grid-template-areas: 'img img'' info info';
        gap: 24px;
        align-items: center;
        margin-top: 44px;
        border: 4pxs;
        box-shadow: 1px 0px 10px -6px #888888;
    }

    .wrap-contact {
        width: 100%;
    }

    .navbar .navbar-nav {
        background-color: var(--bg-color);
        padding: 14px;
    }

    .navbar .navbar-nav .nav-link {
        color: var(--primry-color);
    }

    .box-info {
        padding: 14px;
    }

    footer .container {
        flex-direction: column-reverse;
    }

    .footer-contact {
        margin-top: 14px;
    }

    .social {
        width: 25%;
        margin: 14px 0px;
    }

    .box-desc {
        padding-bottom: 14px;
    }

    .wrap-social-media {
        width: 100%;
    }


}